<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="signup" ng-controller="control" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        /* form styles */
        .error {
            padding-left: 1em;
            color: red;
            font-size: 80%;
        }
        table th,td {
            padding-right: 1em;
        }
        table  th {
            font-weight: bold;
        }
        table  tr:nth-child(odd) {
            background-color: #ddd;
        }
    </style>
    <title>EP19 pre-registration page</title>
</head>
<body ng-controller="control">
<div class="container">
<h1>EP19 pre-registration</h1>
    <img src="images/Mazuria1a.jpeg" alt="Mazurian lake" style="vertical-align: text-top; float:right"/>
<p class="float:left">EPXIX will bring us deep into Eastern Europe to a region called the Mazurian Lakes in Poland. The date for the meeting is now
    fixed for July 3-6 but due to the distance of the venue we would offer you to arrive a
    day earlier and/or stay a day longer with the same conditions as for the meeting.
    Please note that this is a pre-registration page to get a better estimate as to what the attendance will
    look like. It will help with the planning and the hotel booking. The formal registration will occur in January 2014.<br/>
    For the curious, the site of the hotel is <a href="http://www.zamekryn.pl/" target="_blank">here</a> (will open in a new window).
<form id="signup" name="signup">
    <label for="naam">Your name</label><br>
    <input ng-model="naam" type="text" id="naam" name="naam" size="40" placeholder="Enter your name"/>
    <span class="error" id="error-naam" ng-bind="errornaam"></span>
    <br>
    <label for="persons">Number of persons</label><br>
    <input ng-model="persons" type="text" id="persons" name="persons" size="2" maxlength="1"/>
    <span class="error" id="error-persons" ng-bind="errorpersons"></span>
    <br>
    <label for="remarks">remarks</label><br>
    <input ng-model="remarks" type="text" name="remarks" id="remarks" size="40" placeholder="Any remark you want to add"/>
    <br>
    <label for="room">Room preference</label><br>
    <select name="room" id="room" ng-model="room" ng-options="room for room in rooms">
        <option value=""><-- choose one --></option>
    </select>
    <span class="error" id="error-room" ng-bind="errorroom"></span>
    <br>
    <label for="extra">Would you like an extra night before or after EP?</label><br>
    <select name="extra" id="extra" ng-model="extra" ng-options="extra for extra in extras">
    </select>
    <br><br>
    <button ng-click="submit()" ng-disabled="processing" class="btn btn-default">submit</button>
</form>
   </p>
<p>The following <span ng-bind="calctotal()"></span> persons have already expressed interest:</p>
<table id="participants">
    <tr>
        <th>name</th>
        <th>number of persons</th>
        <th>room preference</th>
        <th>extra night before/after</th>
        <th>remarks</th>
    </tr>
    <tr ng-repeat="participant in participants">
        <td ng-bind="participant.naam"></td>
        <td ng-bind="participant.persons"></td>
        <td ng-bind="participant.room"></td>
        <td ng-bind="participant.extra"></td>
        <td ng-bind="participant.remarks"></td>
    </tr>
</table>
<br>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="controller.js"></script>
    <script type="text/javascript">
        var alertFallback = false;
        if (typeof console === "undefined" || typeof console.log === "undefined") {
            console = {};
            if (alertFallback) {
                console.log = function(msg) {
                    alert(msg);
                };
            } else {
                console.log = function() {};
            }
        }
    </script>
</div>
</body>
</html>
