<!doctype html>
<html ng-app="signup">
<head>
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="controller.js"></script>
    <style type="text/css">
        /* form styles */
        .error {
            padding-left: 1em;
            color: red;
            font-size: 80%;
        }
        table th,td {
            padding-right: 1em;
        }
        table  th {
            font-weight: bold;
        }
        table  tr:nth-child(odd) {
            background-color: #ddd;
        }
    </style>
</head>
<body ng-controller="control">
<h1>Sign up</h1>

<p>Sign up for EP19</p>
<form id="signup" name="signup">
    <label for="naam">Your name</label><br>
    <input ng-model="naam" type="text" id="naam" name="naam" placeholder="Enter your name"/>
    <span class="error" id="error-naam">{{errornaam}}</span>
    <br>
    <label for="persons">Number of persons</label><br>
    <input ng-model="persons" type="text" id="persons" name="persons" size="2" maxlength="1"/>
    <span class="error" id="error-persons">{{errorpersons}}</span>
    <br>
    <label for="remarks">remarks</label><br>
    <input ng-model="remarks" type="text" name="remarks" id="remarks" placeholder="Any remark you want to add"/>
    <br>
    <label for="room">Room preference</label><br>
    <select name="room" id="room" ng-model="room" ng-options="room for room in rooms">
        <option value=""><-- choose one --></option>
    </select>
    <span class="error" id="error-room">{{errorroom}}</span>
    <br>
    <label for="extra">Would you like an extra night before or after EP?</label><br>
    <select name="extra" id="extra" ng-model="extra" ng-options="extra for extra in extras">
    </select>
    <br><br>
    <button ng-click="submit()">submit</button>
</form>
<p>The following {{calctotal()}} persons have already expressed interest:</p>
<table id="participants">
    <tr>
        <th>name</th>
        <th>number of persons</th>
        <th>room preference</th>
        <th>extra night before/after</th>
        <th>remarks</th>
    </tr>
    <tr ng-repeat="participant in participants">
        <td>{{participant.naam}}</td>
        <td>{{participant.persons}}</td>
        <td>{{participant.room}}</td>
        <td>{{participant.extra}}</td>
        <td>{{participant.remarks}}</td>
    </tr>
</table>
<br>
</body>
</html>
